/Sources/.vs/
/IntuitClientes.Domain/obj/
/IntuitClientes.Domain/bin/

/IntuitClientes.CrossCutting/obj/
/IntuitClientes.CrossCutting/bin/

/IntuitClientes.App/obj/
/IntuitClientes.App/bin/

/IntuitClientes.Repositories/obj/
/IntuitClientes.Repositories/bin/

/IntuitClientes.Services/obj/
/IntuitClientes.Services/bin/

/IntuitClientes.Domain/obj/
/IntuitClientes.Domain/bin/
